# window width
# if not specified: 1080
window_width=1510

# window height
# if not specified: 600
window_height=840

# Directory that the program shows when it starts
# It should be the directory that contains your music library
# if not specified: the program attempts to search for for the default Music
# folder depending on your OS
base_directory=~/Music

# if true, the app will continue running in the background after closing
# and will create a menu in the system trail
# if false, there will be no menu and the app will close when user
# closes the window
# if not specified: true
run_in_system_tray=true

# Sets if the spectrum visualizer and shader background effect are on or off.
# If both of them are off, the application will not calculate the fft
# of the audio signal, and will produce less redraw commands
# saving a lot of CPU, GPU, and battery usage
# if not specified: both are true
spectrum_enabled=true
shader_enabled=true

