#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Mastoid
Comment=Music player

Exec=mastoid --file=%U

# Place icon file in ~/.local/share/icons or similar, or give full pathname
Icon=Mastoid

MimeType=audio/x-mp3;audio/x-mpeg;audio/mpeg;
# The following should match the executable basename
StartupWMClass=mastoid

Terminal=false
Type=Application
Categories=Audio;Player;Music;AudioVideo;

